{% extends "layout.html" %}
{% block title %} Index {% endblock %}
{% block head %}
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />
	<script type="text/javascript">
		availableTags=[]
		$(function() {
			availableTags = [
			{% for item in busList -%}
				{{item}},
			{% endfor %}
			"..."
			];
			$( "#tags" ).autocomplete({
				source: availableTags
			});
		});
	</script>
{% endblock %}
{% block content %}
	<div class="input-append">
		<input class="span3" id="busName" type="text" placeholder="From">
		<button class="btn" type="button">Search!</button>
	</div>

	<div>
		<ul>
			{% for item in localStopList %}
				<li>{{item}}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}