<!DOCTYPE html>
<html lang='en'>
<head>
	 <title>{% block title %}Hack{% endblock %}</title>
	 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	 <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>

<body>
	<div>
		{% block content %}{% endblock %}
	</div>
	<div style="margin:auto;align:middle;padding:50px;">
		{% block footer %}
		&copy; Copyright 2012.
		{% endblock %}
	</div>
</body>
</html>
